body{
    background-image: url("../photos/Pattern-BG-EXPLOREdark.png");
}

.Aboutus{
    position: absolute;
    font-size: 100px;
    font-family: 'Gill Sans MT';
    font-weight:lighter;
    color: orangered;
    margin-left: 550px;
    margin-top: 10px;
}
.container{
    margin-left: 30px;
    position: absolute;
    margin-top: 170px;
    width: 95%;
    height: 500px;
    background-color: rgb(223, 223, 223);
    overflow: hidden;
    border-radius: 10px;
}

.imgleft{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 40xpx;
    height: 40px;
}

.imgright{
    position: absolute;
    margin-top: 10px;
    margin-left: 1400px;
    width: 40xpx;
    height: 40px;
}

.designer{
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 30px;
    animation: design linear 2s;
    animation-fill-mode: forwards;
}

.designer .logo{
    position: absolute;
    border-style: solid;
    border-color: orangered;
    border-radius: 50%;
    background-color: orangered;
    width: 40px;
    height: 50px;
    margin-left: 75px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designer .logo img{
    position: absolute;
    transform: scale(0.07);
}

.designer .fullname{
    position: absolute;
    font-family: 'Gill Sans MT';
    margin-top: 70px;
    margin-left: 70px;
}

.designer .description{
    position: absolute;
    font-family: 'Gill Sans MT';
    margin-top: 120px;
    margin-left: 14px;
    width: 170px;
}

.designer .email{
    position: absolute;
    padding: 20px;
    font-family: 'Gill Sans MT';
    font-weight: lighter;
    border-style: solid;
    border-color: orangered;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: orangered;
    width: 160px;
    transform: translateX(-2px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.designer .email a{
    text-decoration: none;
    color: white;
}

/**/


.stylist{
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 270px;
    animation: styli linear 2s;
    animation-fill-mode: forwards;
}

.stylist .logo{
    position: absolute;
    border-style: solid;
    border-color: orangered;
    border-radius: 50%;
    background-color: orangered;
    width: 40px;
    height: 50px;
    margin-left: 75px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stylist .logo img{
    position: absolute;
    transform: scale(0.07);
}

.stylist .fullname{
    position: absolute;
    font-family: 'Gill Sans MT';
    margin-top: 70px;
    margin-left: 70px;
}

.stylist .fullname span{
    position: absolute;
    width: 200px;
    transform: translateX(-30px);
}

.stylist .description{
    position: absolute;
    font-family: 'Gill Sans MT';
    margin-top: 120px;
    margin-left: 14px;
    width: 170px;
}

.stylist .email{
    position: absolute;
    padding: 20px;
    font-family: 'Gill Sans MT';
    font-weight: lighter;
    border-style: solid;
    border-color: orangered;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: orangered;
    width: 160px;
    transform: translateX(-2px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.stylist .email a{
    text-decoration: none;
    color: white;
}

/**/

.lifistone{
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 510px;
    animation: lifone linear 2s;
    animation-fill-mode: forwards;
}

.lifistone .logo{
    position: absolute;
    border-style: solid;
    border-color: orangered;
    border-radius: 50%;
    background-color: orangered;
    width: 40px;
    height: 50px;
    overflow: hidden;
    margin-left: 75px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lifistone .logo img{
    position: absolute;
    transform: scale(0.03);
}

.lifistone .fullname{
    position: absolute;
    font-family: 'Gill Sans MT';
    margin-top: 70px;
    margin-left: 70px;
}

.lifistone .fullname span{
    position: absolute;
    width: 200px;
    transform: translateX(-5px);
}

.lifistone .description{
    position: absolute;
    font-family: 'Gill Sans MT';
    margin-top: 120px;
    margin-left: 14px;
    width: 170px;
}

.lifistone .email{
    position: absolute;
    padding: 20px;
    font-family: 'Gill Sans MT';
    font-weight: lighter;
    border-style: solid;
    border-color: orangered;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: orangered;
    width: 160px;
    transform: translateX(-2px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.lifistone .email a{
    text-decoration: none;
    color: white;
}

/**/

.lifisttwo{
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 750px;
    animation: liftwo linear 2s;
    animation-fill-mode: forwards;
}

.lifisttwo .logo{
    position: absolute;
    border-style: solid;
    border-color: orangered;
    border-radius: 50%;
    background-color: orangered;
    width: 40px;
    height: 50px;
    margin-left: 75px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lifisttwo .logo img{
    position: absolute;
    transform: scale(0.07);
}

.lifisttwo .fullname{
    position: absolute;
    font-family: 'Gill Sans MT';
    margin-top: 70px;
    margin-left: 70px;
}

.lifisttwo .fullname span{
    position: absolute;
    width: 200px;
    margin-top: 2px;
    transform: translateX(-30px);
}

.lifisttwo .description{
    position: absolute;
    font-family: 'Gill Sans MT';
    margin-top: 120px;
    margin-left: 14px;
    width: 170px;
}

.lifisttwo .email{
    position: absolute;
    padding: 20px;
    font-size: 15px;
    font-family: 'Gill Sans MT';
    font-weight: lighter;
    border-style: solid;
    border-color: orangered;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: orangered;
    width: 160px;
    transform: translateX(-2px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.lifisttwo .email a{
    text-decoration: none;
    color: white;
}

/**/

.flutter{
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 990px;
    animation: flut linear 2s;
    animation-fill-mode: forwards;
}

.flutter .logo{
    position: absolute;
    border-style: solid;
    border-color: orangered;
    border-radius: 50%;
    background-color: orangered;
    width: 40px;
    height: 50px;
    margin-left: 75px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.flutter .logo img{
    position: absolute;
    transform: scale(0.04);
}

.flutter .fullname{
    position: absolute;
    font-family: 'Gill Sans MT';
    margin-top: 70px;
    margin-left: 70px;
}

.flutter .fullname span{
    position: absolute;
    width: 200px;
    margin-top: 2px;
    transform: translateX(-15px);
}

.flutter .description{
    position: absolute;
    font-family: 'Gill Sans MT';
    margin-top: 120px;
    margin-left: 40px;
}

.flutter .email{
    position: absolute;
    padding: 20px;
    font-size: 15px;
    font-family: 'Gill Sans MT';
    font-weight: lighter;
    border-style: solid;
    border-color: orangered;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: orangered;
    width: 160px;
    transform: translateX(-2px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.flutter .email a{
    text-decoration: none;
    color: white;
}

/**/

.anonymous{
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 100px;
    margin-left:1230px;
    animation: anon linear 2s;
    animation-fill-mode: forwards;
}

.anonymous .logo{
    position: absolute;
    border-style: solid;
    border-color: orangered;
    border-radius: 50%;
    background-color: orangered;
    width: 40px;
    height: 50px;
    margin-left: 75px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.anonymous .logo img{
    position: absolute;
    transform: scale(0.1);
}

.anonymous .fullname{
    position: absolute;
    font-family: 'Gill Sans MT';
    margin-top: 70px;
    margin-left: 70px;
}

.anonymous .fullname span{
    position: absolute;
    width: 200px;
    margin-top: 2px;
}

.anonymous .description{
    position: absolute;
    font-family: 'Gill Sans MT';
    margin-top: 120px;
    margin-left: 40px;
}

.anonymous .email{
    position: absolute;
    padding: 20px;
    font-size: 15px;
    font-family: 'Gill Sans MT';
    font-weight: lighter;
    border-style: solid;
    border-color: orangered;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: orangered;
    width: 160px;
    transform: translateX(-2px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.anonymous .email a{
    text-decoration: none;
    color: white;
}

@keyframes design {
    0%{transform: translateY(30px); opacity: 0;}
    10%{transform: translateY(0px); opacity: 1;}
}

@keyframes styli {
    0%{transform: translateY(-30px); opacity: 0;}
    17%{transform: translateY(-30px); opacity: 0;}
    27%{transform: translateY(0px); opacity: 1;}
}

@keyframes lifone {
    0%{transform: translateY(30px); opacity: 0;}
    33%{transform: translateY(30px); opacity: 0;}
    43%{transform: translateY(0px); opacity: 1;}
}

@keyframes liftwo {
    0%{transform: translateY(-30px); opacity: 0;}
    49%{transform: translateY(-30px); opacity: 0;}
    59%{transform: translateY(0px); opacity: 1;}
}

@keyframes flut {
    0%{transform: translateY(30px); opacity: 0;}
    65%{transform: translateY(30px); opacity: 0;}
    75%{transform: translateY(0px); opacity: 1;}
}

@keyframes anon {
    0%{transform: translateY(-30px); opacity: 0;}
    81%{transform: translateY(-30px); opacity: 0;}
    91%{transform: translateY(0px); opacity: 1;}
}


#title{
    position: absolute;
    font-size: 50px;
    font-family: 'Gill Sans MT';
    color: white;
    background-color: orangered;
    border-radius: 45px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    width:300px;
    height: 90px;
    left: 40%;
    transform: translateY(-50px);
    cursor: pointer;
}

#title #left{
    transform: rotate(90deg) scaleY(1.1);
    font-weight: bold;
    font-family: 'Gill Sans MT';
}
#title #right{
    transform: rotate(90deg) scaleY(1.1);
    font-weight: bold;
    font-family: 'Gill Sans MT';
}

#manager{
    margin-left: 30px;
    position: absolute;
    transform: translateY(-500px);
    width: 95%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    animation: down 1s ;
}

#manager .Fullname{
    position: absolute;
    background:linear-gradient(to bottom, yellow, orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
    margin-top: 80px;
    font-family: 'Gill Sans MT';


}

#manager .description{
    position: absolute;
    font-size: 30px;
    margin-top: 150px;
    font-family: 'Gill Sans MT';
}

#manager .email{
    position: absolute;
    font-size: 30px;
    margin-top: 445px;
    font-family: 'Gill Sans MT';
}

/*IMPORTANT: when the user clicks on 'Manager' button, the button and the manager description will appear with the titledown and managerdown animation, and the arrows will face downwards with the dwontoup animation, when the user clicks on mnager again the description box will disppear and and manager button will go up*/

@keyframes titledown {
    100%{transform: translateY(400px);}
}

@keyframes managerdown {
    100%{transform: translateY(-50px);}
}

@keyframes downtoup {
    100%{transform: rotate(-90deg);}
}