@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

body {
  background: rgb(223, 223, 223);
  font-family: "Sen";
}
.menu {
  position: fixed;
  padding: 2px;
  width: 100%;
  max-width: 100%;
  height: 60px;
}
.menu .container {
  padding: 10px;
}
ul li {
  max-width: 150px;
  width: 100%;
}
ul {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  list-style: none;
  margin: auto;
}
ul li a {
  text-decoration: none;
  color: white;
  background-color: #fa8207;
  display: block;
  padding: 10px;
  text-align: center;
}
ul li:hover ul.dropdown {
  display: block;
  animation-name: mainnav;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: linear;
}
ul li ul.dropdown {
  display: none;
  padding: 0;
  overflow: hidden;
}

/* Mainnav animation */

@keyframes mainnav {
  0% {
    height: 0px;
    background-color: #fa8207;
  }
  100% {
    height: 100px;
    background-color: transparent;
  }
}

ul li ul.dropdown li {
  margin: 5px 0;
}
.menu ul li ul li:first-child {
  animation-name: navanime;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: linear;
}
.menu ul li ul li:nth-child(2) {
  animation-name: navanime;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
  animation-timing-function: linear;
}
.menu ul li ul li:nth-child(3) {
  animation-name: navanime;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.2s;
  animation-timing-function: linear;
}
.menu ul li ul li:nth-child(4) {
  animation-name: navanime;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
  animation-timing-function: linear;
}
.menu ul li ul li:nth-child(5) {
  animation-name: navanime;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.4s;
  animation-timing-function: linear;
}
.menu {
  position: relative;
  background: rgb(174 90 9);
  background-blend-mode: overlay;
  border-radius: 22px 0 22px 0;
}
.menu .container > ul:after {
  height: 39px;
  max-width: 10%;
  width: 100%;
  min-width: 0;
  background: #fdd635;
  content: "";
  position: relative;
  display: block;
  border-radius: 0 0 80% / 0 0 99% 0;
}
.menu .container > ul:before {
  height: 39px;
  max-width: 10%;
  width: 100%;
  min-width: 0;
  background: #fdd635;
  content: "";
  position: relative;
  display: block;
  border-radius: 80% 0 0 0/ 100% 0 0 0;
}

/* Navanim animation */

@keyframes navanime {
  0% {
    transform: rotateY(180deg);
  }
}
ul li a {
  transition: all 0.2s linear;
  position: relative;
  z-index: 1;
}
ul li > a:after {
  content: "";
  background-color: #ffba07;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 0%;
  transition: all 0.3s linear;
  z-index: -1;
}
ul li:hover > a:after {
  color: #fffb00;
  content: "";
  background-color: #ffba07;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.containertwo{
    position: absolute;
    margin-top: 100px;
    width: 99%;
    height:1100px;
    background-color: rgb(223, 223, 223);
    border-radius: 15px;
    opacity: 0.9;
}
img{
    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 5px;
    width: 260px;
    height: 335px;
}

.title{
    position: absolute;
    font-family: 'Gill Sans MT';
    font-weight: bold;
    font-size: 40px;
    margin-left: 300px;
    margin-top: 60px;
}

.author{
    position: absolute;
    font-family: 'Gill Sans MT';
    font-weight: 150;
    font-size: xx-large;
    margin-left: 300px;
    margin-top: 120px;
}

#order{
    position: absolute;
    height: 80px;
    width: 230px;
    border-radius: 20px;
    background-color: rgb(0, 0, 103);
    margin-left: 400px;
    margin-top: 280px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#order span{
    position: absolute;
    font-family: 'Gill Sans MT';
    font-size: 30px;
    font-weight: 200;
    color: white;
}


/*IMPORTANT: as the user clicks on 'order' button, the 'cancel order' button will show up instead with these following descriptions: 
inner HTML: Cancel Order
background:red
*/


#stateone{
    border-radius: 10px;
    position: absolute;
    margin-top: 300px;
    margin-left: 750px;
    font-size: 40px;
    font-family: 'Gill Sans MT';
    width: 330px;
    height: 50px;
    display: flex;
}



.studentsaveragerating{
  position: absolute;
  transform: translate(550px,-430px); 
  font-size: x-large;
}

.stuicon{
  position: absolute;
  width: 50px;
  height: 50px;
  border: solid;
  transform: translate(480px,180px);
}

.carac{
  display: block;
  font-size: 15px;
}




.teachersaveragerating{
    position: absolute;
    transform: translate(900px,-430px); /*same for the teachers rating*/
    font-size: x-large;
}


.teaicon{
  position: absolute;
  width: 50px;
  height: 50px;
  border: solid;
  transform: translate(830px,180px);
}

.containertwo .how{
    position: absolute;
    font-size: xx-large;
    font-family: 'Gill Sans MT';
    align-items: center;
    margin-top: 600px;
    margin-left: 740px;
}

.containertwo .rating{
    position: absolute;
    border-style:  solid;
    border-color: yellow;
    border-radius: 15px;
    width: 250px;
    height:30px;
    margin-top: 950px;
    margin-left: 719px;
    background-color: yellow;
}



.containertwo .description{
    position: absolute;
    font-size: 45px;
    font-family: 'Gill Sans MT';
    margin-top: 600px;
    margin-left: 30px;
}

.containertwo .des{
    position: absolute;
    font-size: 28px;
    font-family: 'Gill Sans MT';
    width: 400px;
    margin-top: 700px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
}

.containertwo .carac{
    margin-top: 480px;
    gap: 50px;
}

.containertwo .comments{
  display: block;
  transform: translateY(300px);

}

.containertwo .comm {
    font-size: 40px;
    font-family: 'Gill Sans MT';
    font-weight: 300;
    margin-left: 30px;
    transform: translateY(300px);
}



.containertwo .commentatorimage{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 40px;
}

.containertwo .commentatorname{
    position: absolute;
    font-size: larger;
    font-family: 'Gill Sans MT';
    margin-top: 50px;
    margin-left: 140px;
}
.containertwo .comment{
    position: absolute;
    font-size: x-large;
    font-family: 'Gill Sans MT';
    margin-top: 90px;
    margin-left: 140px;
}

.hide{
    display: none;
}
.subrate{
  position: absolute;
  padding: 10px;
  width: 200px;
  color: white;
  background-color: black;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  font-family: 'sen';
  transform: translate(760px,770px) scale(0.8);
}

.subrate:hover{
  color: white;
  background-color: orange;
  border-style: solid;
  border-color: orange;
  box-shadow: 0px 0px 5px orangered, 0px 0px 10px orangered, 0px 0px 15px orangered;
}

input[type=range] {
  position: absolute;
  height: 10px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 20%;
  transform: translate(735px,700px);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 2px orange;
  background: yellow;
  border-radius: 50px;
  border: 0px solid yellow;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 10px orange;
  border: 0px solid #83E584;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: yellow;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: yellow;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #002200;
  background: #205928;
  border-radius: 50px;
  border: 0px solid #18D501;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 10px #00AA00;
  border: 0px solid #83E584;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #439643;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #205928;
  border: 0px solid #18D501;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #002200;
}
input[type=range]::-ms-fill-upper {
  background: #205928;
  border: 0px solid #18D501;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #002200;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 10px #00AA00;
  border: 0px solid #83E584;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #439643;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #205928;
}
input[type=range]:focus::-ms-fill-upper {
  background: #205928;
}



#surone{
  position: absolute;
  width: 500px;
  height: 230px;
  overflow: hidden;/* to hide yes and no from the div box*/
  background-color: chocolate;
  color: black;
  font: bold;
  font-size: 50px;
  font-family: 'Gill Sans MT';
  border-radius: 4px;
  left: 32%;
  top: 30%;
}



#surone #inptic{
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
}
#surone #yes{
  width: 85px;
  height: 50px;
  position: absolute;
  color: green;
  font-size: 30px;
  margin-top: 120px;
  margin-left: 90px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
} 

#surone #yes:hover{
  width: 85px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: change 0.5s;
  animation-fill-mode: forwards;
}
@keyframes change {
  100%{background-color: rgb(0, 207, 0);
      color: black;}
}

#surone #no{
  width: 100px;
  height: 50px;
  position: absolute;
  color: red;
  font-size: 30px;
  margin-top: 120px;
  margin-left: 330px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#surone #no:hover{
  width: 100px;
  height: 50px;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: changetwo 0.5s;
  animation-fill-mode: forwards;
}

@keyframes changeone {
  100%{background-color: green;
  color: black;}
}
@keyframes changetwo {
  100%{background-color: red;
  color: black;}
}
.hide{
  display: none;
}

