@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

body {
  background: #ffc38a;
  font-family: "Sen";
}
.menu {
  position: sticky;
  padding: 2px;
  width: 100%;
  max-width: 100%;
  height: 60px;
}
.menu .container {
  padding: 10px;
}
ul li {
  max-width: 150px;
  width: 100%;
}
ul {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  list-style: none;
  margin: auto;
}
ul li a {
  text-decoration: none;
  color: white;
  background-color: #fa8207;
  display: block;
  padding: 10px;
  text-align: center;
}
ul li:hover ul.dropdown {
  display: block;
  animation-name: mainnav;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: linear;
}
ul li ul.dropdown {
  display: none;
  padding: 0;
  overflow: hidden;
}

/* Mainnav animation */

@keyframes mainnav {
  0% {
    height: 0px;
    background-color: #fa8207;
  }
  100% {
    height: 100px;
    background-color: transparent;
  }
}

ul li ul.dropdown li {
  margin: 5px 0;
}
.menu ul li ul li:first-child {
  animation-name: navanime;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: linear;
}
.menu ul li ul li:nth-child(2) {
  animation-name: navanime;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
  animation-timing-function: linear;
}
.menu ul li ul li:nth-child(3) {
  animation-name: navanime;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.2s;
  animation-timing-function: linear;
}
.menu ul li ul li:nth-child(4) {
  animation-name: navanime;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
  animation-timing-function: linear;
}
.menu ul li ul li:nth-child(5) {
  animation-name: navanime;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.4s;
  animation-timing-function: linear;
}
.menu {
  position: relative;
  background: rgb(174 90 9);
  background-blend-mode: overlay;
  border-radius: 22px 0 22px 0;
}
.menu .container > ul:after {
  height: 39px;
  max-width: 10%;
  width: 100%;
  min-width: 0;
  background: #fdd635;
  content: "";
  position: relative;
  display: block;
  border-radius: 0 0 80% / 0 0 99% 0;
}
.menu .container > ul:before {
  height: 39px;
  max-width: 10%;
  width: 100%;
  min-width: 0;
  background: #fdd635;
  content: "";
  position: relative;
  display: block;
  border-radius: 80% 0 0 0/ 100% 0 0 0;
}

/* Navanim animation */

@keyframes navanime {
  0% {
    transform: rotateY(180deg);
  }
}
ul li a {
  transition: all 0.2s linear;
  position: relative;
  z-index: 1;
}
ul li > a:after {
  content: "";
  background-color: #ffba07;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 0%;
  transition: all 0.3s linear;
  z-index: -1;
}
ul li:hover > a:after {
  color: #fffb00;
  content: "";
  background-color: #ffba07;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.containertwo{
    position: absolute;
    margin-left: 10%;
    margin-top: 100px;
    width: 1200px;
    height:1100px;
    background-color: rgb(223, 223, 223);
    border-radius: 15px;
    opacity: 0.9;
}
img{
    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 5px;
    width: 260px;
    height: 335px;
}

.title{
    position: absolute;
    font-family: 'Gill Sans MT';
    font-weight: bold;
    font-size: 40px;
    margin-left: 300px;
    margin-top: 60px;
}

.author{
    position: absolute;
    font-family: 'Gill Sans MT';
    font-weight: 150;
    font-size: xx-large;
    margin-left: 300px;
    margin-top: 120px;
}

.order{
    position: absolute;
    height: 80px;
    width: 230px;
    border-radius: 20px;
    background-color: rgb(0, 0, 103);
    margin-left: 400px;
    margin-top: 280px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order span{
    position: absolute;
    font-family: 'Gill Sans MT';
    font-size: 30px;
    font-weight: 200;
    color: white;
}


/*IMPORTANT: as the user clicks on 'order' button, the 'cancel order' button will show up instead with these following descriptions: 
inner HTML: Cancel Order
background:red
*/


.timer{
    border-radius: 10px;
    position: absolute;
    margin-top: 300px;
    background-color: rgb(54, 54, 169);
    margin-left: 750px;
    font-size: xx-large;
    font-family: 'Gill Sans MT';
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.containertwo .aratestu{
    position: absolute;
    margin-left: 400px;
    margin-top: 200px;
    background-color: yellow;
    width: 200px;
    height: 30px;
    border-radius: 15px;
}

.containertwo .studentsaveragerating{
  position: absolute;
  transform: translate(350px,-375px); 
  font-size: x-large;
}

.carac{
  display: block;
  font-size: 15px;
}
.containertwo .aratestu .roundstu{
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-style: solid;
    border-color: yellow;
    border-radius: 50%;
    transform: translateY(-6px);
}

.containertwo .aratestu img{
    position: relative;
    width: 30px;
    height: 30px;
    transform: translateY(-20px) translateX(-16px);
}

.containertwo .aratetea{
    position: absolute;
    margin-left: 750px;
    margin-top: 202px;
    background-color: green;
    width: 200px;
    height: 30px;
    border-radius: 15px;
}

.containertwo .teachersaveragerating{
    position: absolute;
    transform: translate(700px,-375px); /*same for the teachers rating*/
    font-size: x-large;
}


.containertwo .aratetea .roundtea{
    width: 40px;
    height: 40px;
    background-color: green;
    border-style: solid;
    border-color: green;
    border-radius: 50%;
    transform: translateY(-6px);
}

.containertwo .aratetea img{
    position: relative;
    width: 30px;
    height: 30px;
    transform: translateY(-20px) translateX(-16px);
}

.containertwo .how{
    position: absolute;
    font-size: xx-large;
    font-family: 'Gill Sans MT';
    align-items: center;
    margin-top: 800px;
    margin-left: 740px;
}

.containertwo .rating{
    position: absolute;
    border-style:  solid;
    border-color: yellow;
    border-radius: 15px;
    width: 250px;
    height:30px;
    margin-top: 901px;
    margin-left: 719px;
    background-color: yellow;
}


.containertwo .rating .round{
    position: relative;
    height:60px;
    width: 60px;
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-15px); /*use the translateX to move the rating bar*/

}

.containertwo .rating .round img{
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translateY(-15px) translateX(-10px);
}

.containertwo .description{
    position: absolute;
    font-size: 45px;
    font-family: 'Gill Sans MT';
    margin-top: 400px;
    margin-left: 745px;
}

.containertwo .des{
    position: absolute;
    font-size: 28px;
    font-family: 'Gill Sans MT';
    width: 600px;
    margin-top: 480px;
    margin-left: 560px;
    display: flex;
    justify-content: center;
}

.containertwo .carac{
    margin-top: 420px;
    gap: 50px;
}

.containertwo .comm {
    font-size: 40px;
    font-family: 'Gill Sans MT';
    font-weight: 300;
    margin-left: 30px;
}

.containertwo .commentdisplay{
    /*the "appear" and "hide" animations that you'll find below will be used here to hide/show new coomments*/
}

.containertwo .commentatorimage{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 40px;
}

.containertwo .commentatorname{
    position: absolute;
    font-size: larger;
    font-family: 'Gill Sans MT';
    margin-top: 50px;
    margin-left: 140px;
}
.containertwo .comment{
    position: absolute;
    font-size: x-large;
    font-family: 'Gill Sans MT';
    margin-top: 90px;
    margin-left: 140px;
}

.containertwo .commentatorrating{
    position: absolute;
    width: 100px;
    height: 15px;
    border: solid green;
    background-color: green;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 240px;
    overflow: hidden;
}

/*these animations happen when the user clicks on 'show' more button, we'll show, everytime the user clicks on show more, two more comments, and another button will appear 'show previous' to see the previous comments*/

@keyframes hide {
    50%{transform: translateY(-30px);
    opacity: 0;}
    51%{transform: translateY(30px);
    opacity: 0;}

}

@keyframes show {
    51%{transform: translateY(30px);
        opacity: 0;}
    100%{transform: translateY(0px);
    opacity: 1;}
}

.containertwo .showmore{
    position: absolute;
    padding: 15px;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Gill Sans MT';
    background-color: grey;
    border-color: grey;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 950px;
    margin-left: 80px;
}

.containertwo .showprevious{
    position: absolute;
    padding: 15px;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Gill Sans MT';
    background-color: grey;
    border-color: grey;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 950px;
    margin-left: 80px;
    opacity:0;  /*you can change this opacity to 1 and make the 'margin left' of showmore to 500px to see the show previous button*/
}

/*IMPORTANT! these animations happen once, when the oldest comments are displayed at the beginning and the user presses 'show more', the 'show previous' button will appear with the 'showpreviousbutton' animation below, and the 'show more' button will be moved by 400px to the right by the 'moveshowmorebutton' animation, unless the user sees the newest comments, the 'show previous' button will disappear by the 'hideshowpreviousbutton' animation and the 'show more' button will go back to its place by 'returnshowmorebutton'*/
/*do not forget, in javascript, to set the animationfillmode to "forwards" to keep the animation ending appeared*/

@keyframes showpreviousbutton {
    0%{transform: scale(0);
    opacity: 0;}
    50%{transform: scale(1);
    opacity: 1;}
}

@keyframes moveshowmorebutton {
    50%{transform: translateX(300px);}
}

@keyframes hideshowpreviousbutton {
    50%{transform: scale(1);
    opacity: 0;}
    100%{transform: scale(0);
    opacity: 0;}

}

@keyframes returnshowmorebutton  {
    50%{transform: translateX(300px);}
    100%{transform: translateX(0px)};
}
.hide{
    display: none;
}
.subrate{
  position: absolute;
  padding: 10px;
  width: 200px;
  color: white;
  background-color: black;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  font-family: 'sen';
  transform: translate(760px,1000px) scale(0.8);
}

.subrate:hover{
  color: white;
  background-color: orange;
  border-style: solid;
  border-color: orange;
  box-shadow: 0px 0px 5px orangered, 0px 0px 10px orangered, 0px 0px 15px orangered;
}

input[type=range] {
  position: absolute;
  height: 10px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 20%;
  transform: translate(735px,900px);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 2px orange;
  background: yellow;
  border-radius: 50px;
  border: 0px solid yellow;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 10px orange;
  border: 0px solid #83E584;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: yellow;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: yellow;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #002200;
  background: #205928;
  border-radius: 50px;
  border: 0px solid #18D501;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 10px #00AA00;
  border: 0px solid #83E584;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #439643;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #205928;
  border: 0px solid #18D501;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #002200;
}
input[type=range]::-ms-fill-upper {
  background: #205928;
  border: 0px solid #18D501;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #002200;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 10px #00AA00;
  border: 0px solid #83E584;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #439643;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #205928;
}
input[type=range]:focus::-ms-fill-upper {
  background: #205928;
}
