html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background:linear-gradient(to bottom, rgb(67, 28, 0),black);
  }
  img{
    position: absolute;
    margin-left: 512px;
    transform: translateY(-150px);
    animation: open 1s;
  }
  .logoname{
    position: absolute;
    color: grey;
    font-size: 40px;
    margin-left: 617px;
    transform: translateY(150px);
    animation: name 1s;
  }

  @keyframes name {
    0%{transform: scaleX(0) translateY(150px);}
    100%{transform: scaleX(1) translateY(150px);}
  }
  @keyframes open {
    0%{transform: scaleX(0) translateY(-150px); opacity: 0;}
    100%{transform: scaleX(1)translateY(-150px) ; opacity: 1;}
  }
  .login-box {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, rgb(116, 51, 4),black black);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: orangered;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: orangered;
    font-size: 12px;
  }
  
  .login-box form .lgn {
    position: relative;
    display: inline-block;
    background:transparent;
    padding: 10px 20px;
    color: orange;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 40px;
    letter-spacing: 2px;
    transform: translateX(100px);
    cursor: pointer;
  }
  
  .login-box .lgn:hover {
    animation: iden 0.8s forwards;
  }

  @keyframes iden {
    100%{background: rgb(255, 120, 0);
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px rgb(255, 221, 0),
                  0 0 25px rgb(255, 150, 0),
                  0 0 50px rgb(255, 100, 0),
                  0 0 100px rgb(255, 50, 0);}
            
  }



.incr{
    position: relative;
    color: red;
    transform: translateY(-15px);
  }

.frg{
    position: absolute;
    color: white;
    text-decoration: none;
    transform: translate(200px,-33px);
    cursor: pointer;
}

