body{
    background-image: url("../PHOTOS/Pattern-BG-EXPLORE.png");
}

#years{
    position: relative;
    border-radius: 3px;
    width: 1500px;
    height: 45px;
    background-color: white;
    animation: appear 2s;
}
@keyframes appear {
    0%{opacity: 0;}
}

#show{
    position: absolute;
    margin-top: -4px;
    margin-left: 9px;
    transform: rotate(90deg);
    font-size: xx-large;
    cursor: pointer;
}
#ann{
    position: relative;
    display: flex;
    gap: 160px;
    margin-left: 100px; ;
}
li{
    margin-top: 3px;
    font-size: xx-large;
    font-family: 'Gill Sans MT';
    cursor: pointer;
}

/*IMPORTANT: the navbar's height goes from 0vh to 30vh when clicking on the div which id is "show"*/

#navbar{
    position:absolute;
    overflow: hidden;
    width: 140px;
    background-color: white;
    border-radius: 2px;
    height: 30vh;
   transform: translateY(-120px) translateX(-25px);
}
a{
    text-decoration: none;
    font-family: 'Gill Sans MT';
    font-size: xx-large;
    color: black;
    margin-left: 10px;
}

/*IMPORTANT: the mod1,2,3,4,5cpi height changes from 0px to 80px when clicking on one of the years above, only the last year (3cs) will its height will change to 40px*/

#mod1cpi{
    border-radius: 3px;
    position: absolute;
    overflow: hidden;
    width: 110px;
    height: 80px;
    background-color: white;
    margin-left: 125px;
}
.cp{
    font-size: 20px;
}

#mod2cpi{
    border-radius: 3px;
    position: absolute;
    height: 80px;
    overflow: hidden;
    width: 110px;
    background-color: white;
    margin-left: 340px;
}
#mod3cpi{
    border-radius: 3px;
    position: absolute;
    height: 80px;
    overflow: hidden;
    width: 110px;
    background-color: white;
    margin-left: 560px;
}
#mod4cpi{
    border-radius: 3px;
    position: absolute;
    height: 80px;
    overflow: hidden;
    width: 110px;
    background-color: white;
    margin-left: 775px;
}
#mod5cpi{
    border-radius: 3px;
    position: absolute;
    height: 40px;
    overflow: hidden;
    width: 110px;
    background-color: white;
    margin-left: 983px;
}
#search{
    margin-top: 20px;
    margin-left: 1075px;
    height: 40px;
    width: 280px;
    position: absolute;
    font-size: x-large;
    font-family: 'Gill Sans MT';
    border-radius: 17px;
    border-color: rgb(14, 14, 14);
    background:linear-gradient(to left, rgb(111, 111, 111), rgb(30, 30, 30));
    color: wheat;
}
#sub{
    background-color: orangered;
    width: 130px;
    height: 50px;
    color: white;
    padding: 5px;
    margin-top: 17px;
    margin-left: 1370px;
    position:absolute;
    border-radius: 22px;
    font-size: large;
    font-family: 'Gill Sans MT';
}

/*Category*/

#category{
    position: absolute;
    width: 150px;
    height: 50px;
    font-size: xx-large;
    font-family: 'Gill Sans MT';
    color: grey;
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 65px;
    animation: appear 2s;
}
/*scrolling to the left or the right*/

#scroll{
    position:absolute;
    width: 1480px;
    height: 450px;
    margin-top: 115px;
    transform: translateX(25px);
    background-color: gray;
    border-radius: 10px;
    animation: appear 0.3s;
}
#scroll_left{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
    margin-top: 180px;
    margin-left: -20px;
    cursor: pointer;
    opacity: 1;
}

#scroll_left span{
    font-family: 'Gill Sans MT';
    font-weight: 200;
    margin-right: 5px;
    transform: scaleY(3) rotateY(180deg);
    margin-top: 23px;
}

#scroll_right{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
    margin-top: 180px;
    margin-left: 98%;
    cursor: pointer;
}

#scroll_right span{
    font-family: 'Gill Sans MT';
    font-weight: 200;
    margin-left: 2px;
    transform: scaleY(3);
    margin-top: 23px;
}

@keyframes fadetoleft {
    0%{transform: translateX(0px);
    opacity: 1;
    display: block;}

100%{transform: translateX(-50px);
    opacity: 0;
    display: none;}
}

@keyframes showtoleft {
    50%{display: none;
        opacity: 0;
    transform: translateX(0px);}

    100%{transform: translateX(50px);
    opacity: 1;
    display: block;}
}

@keyframes fadetoright {
    0%{transform: translateX(50px);
        opacity: 1;
        display: block;}
    
    100%{transform: translateX(100px);
        opacity: 0;
        display: none;}
    }

@keyframes showtoright {
    0%{transform: translateX(50px);
        opacity: 0;
        display: none;}
    
    50%{transform: translateX(50px);
        opacity: 0;
        display: none;}
    
    100%{transform: translateX(0px);
        opacity: 1;
        display: block;}
}

/*these are the status of each book*/

#book{
    position: absolute;
    height: 355px;
    width: 190px;
    background-color: rgb(180, 180, 180);
    margin-top: 50px;
    margin-left: 190px;
    border-radius: 10px;
    animation: downtotop 1.4s;
}
 #book #the_average_rating{
    position: absolute;
    color: white;
    font-size: larger;
    font-family: 'Gill Sans MT';
    margin-left: 10px;
    margin-top: 13px;
}
#book #rating{
    position: absolute;
    margin-top: 13px;
    margin-left: 65px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    width: 100px;
    height: 20px;
}

#book #rating #round{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: green;
    transform: translateY(-10px);
    margin-left: 60px;
}

#book #rating #round img{
    width: 27px;
    height: 27px;
    transform: translateY(5px) translateX(5px);
}

#book #image{
    position: absolute;
    width: 160px;
    height: 190px;
    background-color: gray;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 8px;
}
#book #image img{
    height: 190px;
    width: 160px;
}
#book #title{
    position: absolute;
    margin-top: 250px;
    margin-left: 10px;
    color: black;
    font-family: 'Gill Sans MT';
    font-weight: bold;
}
#book #author{
    position: absolute;
    margin-top: 270px;
    margin-left: 10px;
    color: black;
    font-family: 'Gill Sans MT';
    font-weight: lighter;
}

/*SEVERELY IMPORTANT: if the user clicks on 'order' when there are available copies, the 'are you sure' box will appear, set its height to 250px and the body's opacity to 0.9 (the id of body is bod), id he cancels the order then the box will disappear and nothing else will happen, else the 'order' button will turn to 'cancel order' with red background and its height will be 50px, however if it isn't available then the order will turn to 'can't order' with a grey background*/

#book #state{
    position: absolute;
    margin-top: 305px;
    margin-left: 12px;
    font-family: 'Gill Sans MT';
    font-weight: 180;
}

@keyframes downtotop {
    0%{opacity: 0;
    margin-top: 100px;}
}
/*the order style for each book*/

 #book #yesno{
    position: absolute;
    margin-top: 295px;
    margin-left: 100px;
    font-family: 'Gill Sans MT';
    width: 70px;
    height: 40px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
 #yesno span{
    margin-top: 8px;
}

/* the 'are you sure' question style*/

 #sur{
    position: absolute;
    width: 500px;
    height: 230px;
    overflow: hidden;/* to hide yes and no from the div box*/
    background-color: chocolate;
    color: black;
    font: bold;
    font-size: 50px;
    font-family: 'Gill Sans MT';
    border-radius: 4px;
    left: 32%;
    top: 30%;
}
#sur #inptic{
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
}
#sur #yes{
    width: 85px;
    height: 50px;
    position: absolute;
    color: green;
    font-size: 30px;
    margin-top: 120px;
    margin-left: 90px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sur #yes:hover{
    width: 85px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: change 0.5s;
    animation-fill-mode: forwards;
}
@keyframes change {
    100%{background-color: rgb(0, 207, 0);
        color: black;}
}

#sur #no{
    width: 100px;
    height: 50px;
    position: absolute;
    color: red;
    font-size: 30px;
    margin-top: 120px;
    margin-left: 330px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sur #no:hover{
    width: 100px;
    height: 50px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: changetwo 0.5s;
    animation-fill-mode: forwards;
}

@keyframes changeone {
    100%{background-color: green;
    color: black;}
}
@keyframes changetwo {
    100%{background-color: red;
    color: black;}
}
.hide{
    display: none;
}