body{
    background:linear-gradient(to bottom, rgb(129, 60, 10), rgb(59, 25, 1)); 
    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img{
    position: absolute;
    margin-left: 400px;
    transform: translatey(-150px);
    animation: logoanimationimage  1.4s ;

}



.logoname{
    position: absolute;
    color: grey;
    font-size: 45px;
    font-family: 'Gill Sans MT';
    margin-left: 500px;
    margin-top:180px;
    animation: logoanimationname  1.4s ;
}

@keyframes logoanimationimage {
    0%{opacity: 0;
    transform: scaleX(0) translateY(-150px);}
    100%{opacity: 1;
    transform: scaleX(1) translateY(-150px);}
}

@keyframes logoanimationname {
    0%{opacity: 0;
    transform: scaleX(0);}
    100%{opacity: 1;
    transform: scaleX(1);}
}

.esi{
    position:absolute;
    color: aqua;
    font-size: 55px;
    font-family: Algerian;
    margin-top: 20px;
    left: 10%;
}

.Register .re{
    position: absolute;
    color: orangered;
    font-size: 90px;
    font-family: 'Gill Sans MT';
    margin-top: 180px;
    margin-left: 50px;
    font-weight: 350;
}

.Register .cr{
    position: absolute;
    color: orange;
    font-size: 30px;
    font-family: 'Gill Sans MT';
    margin-top: 330px;
    margin-left: 60px;
}

.name{
    position: absolute;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: xx-large;
    margin-top: 100px;
    margin-left: 900px;
}

#names{
    position: absolute;
    margin-top: 150px;
    margin-left: 900px;
    width: 150px;
    height: 40px;
    font-size: x-large;
    font-family: 'Gill Sans MT';
    border-radius: 10px;
}

.lastname{
    position: absolute;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: xx-large;
    margin-top: 100px;
    margin-left: 1100px;
}

#lastnames{
    position: absolute;
    margin-top: 150px;
    margin-left: 1100px;
    width: 150px;
    height: 40px;
    font-size: x-large;
    font-family: 'Gill Sans MT';
    border-radius: 10px;
}

#email{
    position: absolute;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: xx-large;
    margin-top: 400px;
    margin-left: 900px;
}

#emails{
    position: absolute;
    margin-top: 450px;
    margin-left: 900px;
    width: 300px;
    height: 40px;
    font-size: x-large;
    font-family: 'Gill Sans MT';
    border-radius: 10px;
}

.cycle{
    position: absolute;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: xx-large;
    margin-top: 250px;
    margin-left: 900px;
}

#cpi{
    position: absolute;
    width: 170px;
    height: 70px;
    color: white;
    font-size: xx-large;
    font-family: 'Gill Sans MT';
    border-radius: 15px;
    border-color: rgb(144, 64, 7);
    background-color: rgb(144, 64, 7);
    margin-left: 900px;
    margin-top: 310px;
    overflow: hidden;
    cursor: pointer;
}

#cpi:hover{
    box-shadow: 2px 2px 3px rgb(255, 149, 0), -2px -2px 3px rgb(255, 149, 0), -2px 2px 3px rgb(255, 149, 0), 2px -2px 3px rgb(255, 149, 0);
}

 #changebgcpi{
    position: absolute;
    width: 170px;
    height: 100px;
    background: yellow;
    opacity: 0;
    transform: translateX(-8px) translateY(-30px);
}


#cs{
    position: absolute;
    width: 170px;
    height: 70px;
    color: white;
    font-size: xx-large;
    font-family: 'Gill Sans MT';
    border-radius: 15px;
    border-color: rgb(144, 64, 7);
    background: rgb(144, 64, 7);
    margin-left: 1100px;
    margin-top: 310px;
    overflow: hidden;
    cursor: pointer;
}

#cs:hover{
    box-shadow: 2px 2px 3px rgb(255, 149, 0), -2px -2px 3px rgb(255, 149, 0), -2px 2px 3px rgb(255, 149, 0), 2px -2px 3px rgb(255, 149, 0);
}

 #changebgcs{
    position: absolute;
    width: 170px;
    height: 100px;
    background:rgb(129, 60, 10);
    opacity: 0;
    transform: translateX(-8px) translateY(-30px);
}

@keyframes changetoyellow {
    0%{background: yellow;
        opacity: 0;}
    100%{background: yellow;
        opacity: 0.5;}
}

@keyframes changetobrown {
    0%{opacity: 0.5;}
    100%{opacity: 0;}
}

/*prepa cycle*/

#optcpi{
    position: absolute;
    width: 200px;
    height: 50px;
    margin-top: 400px;
    margin-left: 895px;
}

#optcpi #year1{
    position: absolute;
    color: white;
    width: 70px;
    height: 40px;
    background-color: chocolate;
    font-size: larger;
    font-family: 'Gill Sans MT';
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



#optcpi #year2{
    position: absolute;
    color: white;
    width: 70px;
    height: 40px;
    background-color: chocolate;
    font-size: larger;
    font-family: 'Gill Sans MT';
    border-radius: 20px;
    margin-left: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    /*IMPORTANT: these animations happen to the year options when the user clicks on the according CYCLE (for exemple of he clicks on CPI the first and second year will appear), and the other year options of the other cycle will disappear with the reverse animations below*/  
    /*IMPORTANT: if the user clicks on any of the year options, use the "boxShadow="1px 1px 2px yellow, -1px -1px 2px yellow, -1px 1px 2px yellow, 1px -1px 2px yellow";" to lighten up its borders*/

@keyframes firstyear {
    0%{transform: translateY(-70px) translateX(50px);
    opacity: 0;
    display: none;}
    100%{margin-top: 2px;
    margin-left: 2px;
    opacity: 1;
    cursor: pointer;}
}

@keyframes reversefirstyear {
    0%{margin-top: 2px;
        margin-left: 2px;
        opacity: 1;
        cursor: pointer;}
    100%{transform: translateY(-70px) translateX(50px);
        opacity: 0;
        display: none;}
}

@keyframes secondyear {
    0%{transform: translateY(-70px) translateX(-50px);
    opacity: 0;
    display: none;}
    100%{margin-top: 2px;
    margin-left: 102px;
    opacity: 1;
    cursor: pointer;}
}

@keyframes reversesecondyear {
    0%{margin-top: 2px;
        margin-left: 102px;
        opacity: 1;
        cursor: pointer;}
    100%{transform: translateY(-70px) translateX(-50px);
    opacity: 0;
    display: none;}

}

/* cycle superior*/

#optcs{
    position: absolute;
    width: 310px;
    height: 50px;
    margin-top: 400px;
    margin-left: 1050px;
    transform: scale(1);
}

#optcs #year3{
    position: absolute;
    color: white;
    width: 70px;
    height: 40px;
    background-color: chocolate;
    font-size: larger;
    font-family: 'Gill Sans MT';
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    

}


#optcs #year4{
    position: absolute;
    color: white;
    width: 70px;
    height: 40px;
    background-color: chocolate;
    font-size: larger;
    font-family: 'Gill Sans MT';
    border-radius: 20px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#optcs #year5{
    position: absolute;
    color: white;
    width: 70px;
    height: 40px;
    background-color: chocolate;
    font-size: larger;
    font-family: 'Gill Sans MT';
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 170px;
}

@keyframes thirdyear {
    0%{opacity: 0;
    margin-left: 100px;
    display: none;
    transform: translateY(-50px);}
    100%{opacity: 1;
    cursor: pointer;
    margin-top: 2px;}
}

@keyframes reversethirdyear {
    0%{opacity: 1;
        cursor: pointer;
        margin-top: 2px;}
    100%{opacity: 0;
        margin-left: 100px;
        display: none;
        transform: translateY(-50px);}
}

@keyframes fourthyear {
    0%{opacity: 0;
    transform:translateY(-50px);
    display: none;}
    100%{opacity: 1;
    margin-top: 50px;
    cursor: pointer;}
}

@keyframes reversefourthyear {
    0%{opacity: 1;
        margin-top: 50px;
        cursor: pointer;}

    100%{opacity: 0;
     transform:translateY(-50px);
       display: none;}
}

@keyframes fifthyear {
    0%{opacity: 0;
        margin-left: 100px;
        transform: translateY(-50px);
        display: none;}
    100%{opacity: 1;
        cursor: pointer;
        margin-left: 170px;
        margin-top: 2px;
    }
}

@keyframes reversefifthyear {
    0%{opacity: 1;
        cursor: pointer;
        margin-left: 170px;
        margin-top: 2px;
    }
    100%{opacity: 0;
        margin-left: 100px;
        transform: translateY(-50px);
        display: none;}
}

#sub{
    position: absolute;
    background-color: orangered;
    padding: 18px;
    width: 300px;
    height: 35px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    margin-left: 900px;
    margin-top: 600px;
    cursor: pointer;
    overflow: hidden;
}

#sub span{
    position: absolute;
    font-size: x-large;
    font-family: 'Gill Sans MT';
    color: white;
    margin-top: 4px;

}

#sub #leftupcorner{
    position: absolute;
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom, rgb(240, 162, 106), orangered);
    opacity: 0.7;
    transform: rotate(-8deg) translate(-80px, -55px);
}

#sub #leftdowncorner{
    position: absolute;
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom, rgb(240, 162, 106), orangered);
    opacity: 0.7;
    transform: rotate(188deg); 
    margin-top: 25px;
    margin-left: -200px;
}

#sub #rightupcorner{
    position: absolute;
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom, rgb(240, 162, 106), orangered);
    opacity: 0.7;
    transform: rotate(8deg) translateY(-40px); 
    margin-left: 200px;
}

#sub #rightdowncorner{
    position: absolute;
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom, rgb(240, 162, 106), orangered);
    opacity: 0.7;
    transform: rotate(-188deg); 
    margin-top: 25px;
    margin-left: 200px;
}

@keyframes emailslide {
    100%{transform: translateY(50px);}
}
@keyframes emailsslide {
    100%{transform: translateY(50px);}
}


/*errors*/

#errorfname{
    position: absolute;
    font-size: large;
    font-family: 'Gill Sans MT';
    color: red;
    margin-left: 900px;
    margin-top: 200px;
}

#errorlname{
    position: absolute;
    font-size: large;
    font-family: 'Gill Sans MT';
    color: red;
    margin-left: 1100px;
    margin-top: 200px;
}

#errorcycle{
    position: absolute;
    font-size: large;
    font-family: 'Gill Sans MT';
    color: red;
    margin-left: 1000px;
    margin-top: 380px;
}

#erroryear{
    position: absolute;
    font-size: large;
    font-family: 'Gill Sans MT';
    color: red;
    margin-left: 1000px;
    margin-top: 440px;
}

#erroremail{
    position: absolute;
    font-size: large;
    font-family: 'Gill Sans MT';
    color: red;
    margin-left: 970px;
    margin-top: 570px;
}
.hide{
    display: none;
}