{% extends 'base_layout.html' %}
{% block content %}

<body>
    <form method="POST">
        {% csrf_token %}
    <div class="one"></div>
    <div class="container">
        <div class="wel">مرحبا</div>
        <div class="conn">الدخول بحساب خاص</div>
        <div   class="email">اسم المستخدم</div>
        
       
        <input class="in" type="username" name="username" placeholder= " name " required>
        
        <div class="password">Mot de passe</div>
        <input class="in2" type="password" name="password" placeholder=" Mot de Passe" required>
        <button class="sub" type="submit" > Connexion </button> 
    </div>
</form>
</body>
{% endblock %}
