{% extends 'welcomepagestyle.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="welcomepagestyle.css">
</head>
<body>
    <div class="one"></div>
    <div class="logo"> <span class="esi"> ESI BIBLIO </span></div>
    <div class="who"> <span class="vous"> Vous etes: </span>
         <a href="tea-stu login.html" class="stu" target="_blank">Etudiant</a> 
        <a href="tea-stu login.html" class="tea" target="_blank">Enseignant</a>
        <a href="" class="admin">Administrateur</a>
    </div>
</body>
</html>
{% endblock %}