body{
    background-image: url("Pattern-BG-EXPLORE.png");
}

#years{
    position: relative;
    border-radius: 3px;
    width: 1500px;
    height: 45px;
    background-color: white;
    animation: appear 2s;
}
@keyframes appear {
    0%{opacity: 0;}
}

#show{
    position: absolute;
    margin-top: -4px;
    margin-left: 9px;
    transform: rotate(90deg);
    font-size: xx-large;
    cursor: pointer;
}
#ann{
    position: relative;
    display: flex;
    gap: 160px;
    margin-left: 100px; ;
}
li{
    margin-top: 3px;
    font-size: xx-large;
    font-family: 'Gill Sans MT';
    cursor: pointer;
}

/*IMPORTANT: the navbar's height goes from 0vh to 50vh when clicking on the div which id is "show"*/

#navbar{
    position:absolute;
    overflow: hidden;
    width: 180px;
    background-color: white;
    border-radius: 2px;
    height: 50vh;
}
a{
    text-decoration: none;
    font-family: 'Gill Sans MT';
    font-size: xx-large;
    color: black;
    margin-left: 10px;
}

/*IMPORTANT: the modncpi height changes from 0px to 80px when clicking on one of the years above, only the last year (3cs) will its height will change to 40px*/

#mod1cpi{
    border-radius: 3px;
    position: absolute;
    height: 0px;
    overflow: hidden;
    width: 110px;
    height: 80px;
    background-color: white;
    margin-left: 125px;
}
.cp1s1{
    font-size: 20px;
}
.cp1s2{
    font-size: 20px;
}
#mod2cpi{
    border-radius: 3px;
    position: absolute;
    height: 80px;
    overflow: hidden;
    width: 110px;
    background-color: white;
    margin-left: 340px;
}
.cp2s1{
    font-size: 20px;
}
.cp2s2{
    font-size: 20px;
}
#mod3cpi{
    border-radius: 3px;
    position: absolute;
    height: 80px;
    overflow: hidden;
    width: 110px;
    background-color: white;
    margin-left: 560px;
}
.cp3s1{
    font-size: 20px;
}
.cp3s2{
    font-size: 20px;
}
#mod4cpi{
    border-radius: 3px;
    position: absolute;
    height: 80px;
    overflow: hidden;
    width: 110px;
    background-color: white;
    margin-left: 775px;
}
.cp4s1{
    font-size: 20px;
}
.cp4s2{
    font-size: 20px;
}
#mod5cpi{
    border-radius: 3px;
    position: absolute;
    height: 40px;
    overflow: hidden;
    width: 110px;
    background-color: white;
    margin-left: 983px;
}
.cp5s1{
    font-size: 20px;
}
.cp5s2{
    font-size: 20px;
}
#search{
    margin-top: 20px;
    margin-left: 1075px;
    height: 40px;
    width: 280px;
    position: absolute;
    font-size: x-large;
    font-family: 'Gill Sans MT';
    border-radius: 17px;
    border-color: rgb(14, 14, 14);
    background:linear-gradient(to left, rgb(111, 111, 111), rgb(30, 30, 30));
    color: wheat;
}
#sub{
    background-color: orangered;
    width: 130px;
    height: 50px;
    color: white;
    padding: 5px;
    margin-top: 17px;
    margin-left: 1370px;
    position:absolute;
    border-radius: 22px;
    font-size: large;
    font-family: 'Gill Sans MT';
}

/*Category*/

#category{
    position: absolute;
    width: 150px;
    height: 50px;
    font-size: xx-large;
    font-family: 'Gill Sans MT';
    color: grey;
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 65px;
    animation: appear 2s;
}
/*scrolling to the left or the right*/

#scroll{
    position:absolute;
    width: 1480px;
    height: 450px;
    margin-top: 115px;
    transform: translateX(25px);
    background-color: gray;
    border-radius: 10px;
    animation: appear 0.3s;
}
#scroll_left{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
    margin-top: 180px;
    margin-left: -20px;
    cursor: pointer;
    opacity: 0;
}

#scroll_left span{
    font-family: 'Gill Sans MT';
    font-weight: 200;
    margin-right: 5px;
    transform: scaleY(3) rotateY(180deg);
    margin-top: 23px;
}

#scroll_right{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
    margin-top: 180px;
    margin-left: 98%;
    cursor: pointer;
}

#scroll_right span{
    font-family: 'Gill Sans MT';
    font-weight: 200;
    margin-left: 2px;
    transform: scaleY(3);
    margin-top: 23px;
}

@keyframes fadetoleft {
    0%{transform: translateX(0px);
    opacity: 1;
    display: block;}

100%{transform: translateX(-50px);
    opacity: 0;
    display: none;}
}

@keyframes showtoleft {
    50%{display: none;
        opacity: 0;
    transform: translateX(0px);}

    100%{transform: translateX(50px);
    opacity: 1;
    display: block;}
}

@keyframes fadetoright {
    0%{transform: translateX(50px);
        opacity: 1;
        display: block;}
    
    100%{transform: translateX(100px);
        opacity: 0;
        display: none;}
    }

@keyframes showtoright {
    0%{transform: translateX(50px);
        opacity: 0;
        display: none;}
    
    50%{transform: translateX(50px);
        opacity: 0;
        display: none;}
    
    100%{transform: translateX(0px);
        opacity: 1;
        display: block;}
}

/*these are the status of each book*/

#book1{
    position: absolute;
    height: 355px;
    width: 190px;
    background-color: rgb(180, 180, 180);
    margin-top: 50px;
    margin-left: 190px;
    border-radius: 10px;
    animation: downtotop 1.4s;
}
 #book1 #the_average_ratingone{
    position: absolute;
    color: white;
    font-size: larger;
    font-family: 'Gill Sans MT';
    margin-left: 10px;
    margin-top: 13px;
}
#book1 #ratingone{
    position: absolute;
    margin-top: 13px;
    margin-left: 65px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    width: 100px;
    height: 20px;
}

#book1 #ratingone #roundone{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: green;
    transform: translateY(-10px);
    margin-left: 60px;
}

#book1 #ratingone #roundone img{
    width: 27px;
    height: 27px;
    transform: translateY(5px) translateX(5px);
}

#book1 #imageone{
    position: absolute;
    width: 160px;
    height: 190px;
    background-color: gray;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 8px;
}
#book1 #imageone img{
    height: 190px;
    width: 160px;
}
#book1 #titleone{
    position: absolute;
    margin-top: 250px;
    margin-left: 10px;
    color: black;
    font-family: 'Gill Sans MT';
    font-weight: bold;
}
#book1 #authorone{
    position: absolute;
    margin-top: 270px;
    margin-left: 10px;
    color: black;
    font-family: 'Gill Sans MT';
    font-weight: 150;
}
#book1 #stateone{
    position: absolute;
    margin-top: 305px;
    margin-left: 12px;
    font-family: 'Gill Sans MT';
    font-weight: 180;
}




#book2{
    position: absolute;
    height: 355px;
    width: 190px;
    background-color: rgb(180, 180, 180);
    margin-top: 50px;
    margin-left: 490px;
    border-radius: 10px;
    animation: downtotop 1.4s;
}
 #book2 #the_average_ratingtwo{
    position: absolute;
    color: white;
    font-size: larger;
    font-family: 'Gill Sans MT';
    margin-left: 10px;
    margin-top: 13px;
}
#book2 #ratingtwo{
    position: absolute;
    margin-top: 13px;
    margin-left: 55px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    width: 110px;
    height: 20px;
}

#book2 #ratingtwo #roundtwo{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: green;
    transform: translateY(-10px);
    margin-left: 60px;
}

#book2 #ratingtwo #roundtwo img{
    width: 27px;
    height: 27px;
    transform: translateY(5px) translateX(5px);
}

#book2 #imagetwo{
    position: absolute;
    width: 160px;
    height: 190px;
    background-color: gray;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 8px;
}
#book2 #imagetwo img{
    height: 190px;
    width: 160px;
}
#book2 #titletwo{
    position: absolute;
    margin-top: 250px;
    margin-left: 10px;
    color: black;
    font-family: 'Gill Sans MT';
    font-weight: bold;
}
#book2 #authortwo{
    position: absolute;
    margin-top: 270px;
    margin-left: 10px;
    color: black;
    font-family: 'Gill Sans MT';
    font-weight: 150;
}
#book2 #statetwo{
    position: absolute;
    margin-top: 305px;
    margin-left: 12px;
    font-family: 'Gill Sans MT';
    font-weight: 180;
}



#book3{
    position: absolute;
    height: 355px;
    width: 190px;
    background-color: rgb(180, 180, 180);
    margin-top: 50px;
    margin-left: 800px;
    border-radius: 10px;
    animation: downtotop 1.4s;
}
 #book3 #the_average_ratingthree{
    position: absolute;
    color: white;
    font-size: larger;
    font-family: 'Gill Sans MT';
    margin-left: 10px;
    margin-top: 13px;
}
#book3 #ratingthree{
    position: absolute;
    margin-top: 13px;
    margin-left: 55px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    width: 110px;
    height: 20px;
}

#book3 #ratingthree #roundthree{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: green;
    transform: translateY(-10px);
    margin-left: 60px;
}

#book3 #ratingthree #roundthree img{
    width: 27px;
    height: 27px;
    transform: translateY(5px) translateX(5px);
}

#book3 #imagethree{
    position: absolute;
    width: 160px;
    height: 190px;
    background-color: gray;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 8px;
}
#book3 #imagethree img{
    height: 190px;
    width: 160px;
}
#book3 #titlethree{
    position: absolute;
    margin-top: 250px;
    margin-left: 10px;
    color: black;
    font-family: 'Gill Sans MT';
    font-weight: bold;
}
#book3 #authorthree{
    position: absolute;
    margin-top: 270px;
    margin-left: 10px;
    color: black;
    font-family: 'Gill Sans MT';
    font-weight: 150;
}
#book3 #statethree{
    position: absolute;
    margin-top: 305px;
    margin-left: 12px;
    font-family: 'Gill Sans MT';
    font-weight: 180;
}



#book4{
    position: absolute;
    height: 355px;
    width: 190px;
    background-color: rgb(180, 180, 180);
    margin-top: 50px;
    margin-left: 1100px;
    border-radius: 10px;
    animation: downtotop 1.4s;
}
@keyframes downtotop {
    0%{opacity: 0;
    margin-top: 130px;}
}
 #book4 #the_average_ratingfour{
    position: absolute;
    color: white;
    font-size: larger;
    font-family: 'Gill Sans MT';
    margin-left: 10px;
    margin-top: 13px;
}
#book4 #ratingfour{
    position: absolute;
    margin-top: 13px;
    margin-left: 65px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    width: 100px;
    height: 20px;
}

#book4 #ratingfour #roundfour{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: green;
    transform: translateY(-10px);
    margin-left: 60px;
}

#book4 #ratingfour #roundfour img{
    width: 27px;
    height: 27px;
    transform: translateY(5px) translateX(5px);
}

#book4 #imagefour{
    position: absolute;
    width: 160px;
    height: 190px;
    background-color: gray;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 8px;
}
#book4 #imagefour img{
    height: 190px;
    width: 160px;
}
#book4 #titlefour{
    position: absolute;
    margin-top: 250px;
    margin-left: 10px;
    color: black;
    font-family: 'Gill Sans MT';
    font-weight: bold;
}
#book4 #authorfour{
    position: absolute;
    margin-top: 270px;
    margin-left: 10px;
    color: black;
    font-family: 'Gill Sans MT';
    font-weight: 150;
}
#book4 #statefour{
    position: absolute;
    margin-top: 305px;
    margin-left: 12px;
    font-family: 'Gill Sans MT';
    font-weight: 180;
}


#book5{
    position: absolute;
    opacity: 0;
    height: 355px;
    width: 190px;
    background-color: rgb(180, 180, 180);
    margin-top: 165px;
    margin-left: 165px;
    border-radius: 10px;
    animation: downtotop 1.4s;
}
 #book5 #the_average_ratingfive{
    position: absolute;
    color: white;
    font-size: larger;
    font-family: 'Gill Sans MT';
    margin-left: 10px;
    margin-top: 13px;
}
#book5 #ratingfive{
    position: absolute;
    margin-top: 13px;
    margin-left: 55px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    width: 110px;
    height: 20px;
}

#book5 #ratingfive #roundfive{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: green;
    transform: translateY(-10px);
    margin-left: 60px;
}

#book5 #ratingfive #roundfive img{
    width: 27px;
    height: 27px;
    transform: translateY(5px) translateX(5px);
}

#book5 #imagefive{
    position: absolute;
    width: 160px;
    height: 190px;
    background-color: gray;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 8px;
}
#book5 #imagefive img{
    width: 160px;
    height: 190px;
}
#book5 #titlefive{
    position: absolute;
    margin-top: 250px;
    margin-left: 10px;
    color: black;
    font-family: 'Gill Sans MT';
    font-weight: bold;
}
#book5 #authorfive{
    position: absolute;
    margin-top: 270px;
    margin-left: 10px;
    color: black;
    font-family: 'Gill Sans MT';
    font-weight: 150;
}
#book5 #statefive{
    position: absolute;
    margin-top: 305px;
    margin-left: 12px;
    font-family: 'Gill Sans MT';
    font-weight: 180;
}

/*the order style for each book*/

 #book1 #yesnoone{
    position: absolute;
    margin-top: 295px;
    margin-left: 100px;
    font-family: 'Gill Sans MT';
    width: 70px;
    height: 40px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
 #yesnoone span{
    margin-top: 8px;
}


#book2 #yesnotwo{
    position: absolute;
    margin-top: 295px;
    margin-left: 100px;
    font-family: 'Gill Sans MT';
    width: 70px;
    height: 40px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
 #yesnotwo span{
    margin-top: 8px;
}


#book3 #yesnothree{
    position: absolute;
    margin-top: 295px;
    margin-left: 100px;
    font-family: 'Gill Sans MT';
    width: 70px;
    height: 40px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
 #yesnothree span{
    margin-top: 8px;


}
#book4 #yesnofour{
    position: absolute;
    margin-top: 295px;
    margin-left: 100px;
    font-family: 'Gill Sans MT';
    width: 70px;
    height: 40px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
 #yesnofour span{
    margin-top: 8px;
}


#book5 #yesnofive{
    position: absolute;
    margin-top: 295px;
    margin-left: 100px;
    font-family: 'Gill Sans MT';
    width: 70px;
    height: 40px;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
 #yesnofive span{
    margin-top: 8px;
}

/* the 'etes vous sur' question style*/

 #sur{
    position: absolute;
    width: 500px;
    height: 0px;
    overflow: hidden;
    background-color: chocolate;
    color: black;
    font: bold;
    font-size: 50px;
    font-family: 'Gill Sans MT';
    border-radius: 4px;
    left: 32%;
    top: 30%;
}
#sur #inptic{
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
}
#sur #yes{
    position: absolute;
    color: green;
    font-size: 30px;
    margin-top: 120px;
    margin-left: 90px;
    cursor: pointer;
}
#sur #yes:hover{
    width: 85px;
    height: 50px;
    border-radius: 20px;
    animation: changeone 0.5s;
    animation-fill-mode: forwards;
}
@keyframes changeone {
    100%{background-color: rgb(0, 207, 0);
        color: black;}
}


#sur #yes #outone{
    position: absolute;
    margin-left: 19px;
    margin-top: 5px;
}
#sur #no{
    position: absolute;
    color: red;
    font-size: 30px;
    margin-top: 120px;
    margin-left: 330px;
    cursor: pointer;
}
#sur #no:hover{
    width: 115px;
    height: 50px;
    border-radius: 28px;
    animation: changetwo 0.5s;
    animation-fill-mode: forwards;
}
#sur #no #outtwo{
    position: absolute;
    margin-left: 10px;
    margin-top: 4px;
}

@keyframes changetwo {
    100%{background-color: red;
    color: black;}
}