body {
    background: linear-gradient(to left, rgb(1, 1, 71), black, black, black, black, black, black, black);
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.one {
    position: absolute;
    width: 400px;
    height: 450px;
    opacity: 0.5;
    background: linear-gradient(to bottom, rgb(77, 240, 255), rgb(0, 72, 255), black);
    transform: translate(0px, -220px) rotate(45deg);
}

.logo {
    position: absolute;
    width: 200px;
    height: 200px;
    border-style: groove;
    border-radius: 50%;
    box-shadow: -3px 3px 3px white;
    left: 600px;
    border-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    animation: log 2s;
    animation-fill-mode: forwards;
}

@keyframes log {
    0% {
        transform: scale(0.01);
    }

    100% {
        transform: skew(20deg) scale(1);
    }
}

.esi {
    position: absolute;
    color: aqua;
    font-size: 55px;
    font-family: Algerian;
    margin-top: 20px;
    left: 10%;
}

.Register .re {
    position: absolute;
    color: rgb(38, 38, 207);
    font-size: 90px;
    font-family: 'Gill Sans MT';
    margin-top: 180px;
    margin-left: 50px;
    font-weight: 350;
}

.Register .cr {
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans MT';
    margin-top: 330px;
    margin-left: 60px;
}

.name {
    position: absolute;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: xx-large;
    margin-top: 100px;
    margin-left: 900px;
}

.names {
    position: absolute;
    margin-top: 150px;
    margin-left: 900px;
    width: 150px;
    height: 40px;
    font-size: x-large;
    font-family: 'Gill Sans MT';
}

.lastname {
    position: absolute;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: xx-large;
    margin-top: 100px;
    margin-left: 1100px;
}

.lastnames {
    position: absolute;
    margin-top: 150px;
    margin-left: 1100px;
    width: 150px;
    height: 40px;
    font-size: x-large;
    font-family: 'Gill Sans MT';
}

#email {
    position: absolute;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: xx-large;
    margin-top: 400px;
    margin-left: 900px;
}

#emails {
    position: absolute;
    margin-top: 450px;
    margin-left: 900px;
    width: 300px;
    height: 40px;
    font-size: x-large;
    font-family: 'Gill Sans MT';
}

.cycle {
    position: absolute;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: xx-large;
    margin-top: 250px;
    margin-left: 900px;
}

#cpi {
    position: absolute;
    width: 170px;
    height: 70px;
    color: white;
    font-size: xx-large;
    font-family: 'Gill Sans MT';
    border-radius: 15px;
    border-color: darkblue;
    background: linear-gradient(to left, darkblue, darkblue, darkblue, darkblue, darkblue, darkblue);
    margin-left: 900px;
    margin-top: 310px;
    overflow: hidden;
    cursor: pointer;
}

#cpi:hover {
    box-shadow: 2px 2px 3px aqua, -2px -2px 3px aqua, -2px 2px 3px aqua, 2px -2px 3px aqua;
}

#changebgcpi {
    position: absolute;
    width: 170px;
    height: 100px;
    background: linear-gradient(to bottom, aqua, aqua, darkblue);
    opacity: 0;
    transform: translateX(-8px) translateY(-30px);
}


#cs {
    position: absolute;
    width: 170px;
    height: 70px;
    color: white;
    font-size: xx-large;
    font-family: 'Gill Sans MT';
    border-radius: 15px;
    border-color: darkblue;
    background: linear-gradient(to left, darkblue, darkblue, darkblue, darkblue, darkblue, darkblue);
    margin-left: 1100px;
    margin-top: 310px;
    overflow: hidden;
    cursor: pointer;
}

#cs:hover {
    box-shadow: 2px 2px 3px aqua, -2px -2px 3px aqua, -2px 2px 3px aqua, 2px -2px 3px aqua;
}

#changebgcs {
    position: absolute;
    width: 170px;
    height: 100px;
    background: linear-gradient(to bottom, aqua, aqua, darkblue);
    opacity: 0;
    transform: translateX(-8px) translateY(-30px);
}

@keyframes changetoaqua {
    0% {
        background: aqua;
        opacity: 0;
    }

    100% {
        background: aqua;
        opacity: 0.5;
    }
}

@keyframes changetoblue {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

/*prepa cycle*/

#optcpi {
    position: absolute;
    width: 200px;
    height: 50px;
    margin-top: 400px;
    margin-left: 895px;
    overflow: hidden;
    transform: scale(0);
}

#optcpi #year1 {
    position: absolute;
    color: white;
    width: 85px;
    height: 35px;
    background-color: darkblue;
    margin-top: 2px;
    margin-left: 2px;
    font-size: larger;
    font-family: 'Gill Sans MT';
    cursor: pointer;
    border-radius: 8px;
}


#optcpi #year1 span {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

#optcpi #year2 {
    position: absolute;
    color: white;
    width: 85px;
    height: 35px;
    background-color: darkblue;
    font-size: larger;
    font-family: 'Gill Sans MT';
    margin-top: 2px;
    margin-left: 102px;
    cursor: pointer;
    border-radius: 8px;
}

#optcpi #year2 span {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

/* cycle superior*/

#optcs {
    position: absolute;
    width: 310px;
    height: 50px;
    margin-top: 400px;
    margin-left: 1050px;
    transform: scale(0);
    overflow: hidden;
}

#optcs #year3 {
    position: absolute;
    color: white;
    width: 85px;
    height: 35px;
    background-color: darkblue;
    font-size: larger;
    font-family: 'Gill Sans MT';
    margin-top: 2px;
    margin-left: 2px;
    cursor: pointer;
    border-radius: 8px;
}

#optcs #year3 span {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

#optcs #year4 {
    position: absolute;
    color: white;
    width: 85px;
    height: 35px;
    background-color: darkblue;
    font-size: larger;
    font-family: 'Gill Sans MT';
    margin-top: 2px;
    margin-left: 102px;
    cursor: pointer;
    border-radius: 8px;
}

#optcs #year4 span {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

#optcs #year5 {
    position: absolute;
    color: white;
    width: 85px;
    height: 35px;
    background-color: darkblue;
    font-size: larger;
    font-family: 'Gill Sans MT';
    margin-top: 2px;
    margin-left: 202px;
    cursor: pointer;
    border-radius: 8px;
}

#optcs #year5 span {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

@keyframes showyearopts {
    0% {
        transform: scaleY(0);
    }

    95% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(1);
    }
}


@keyframes hideyearopts {
    0% {
        transform: scaleY(1);
    }

    5% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(0);
    }
}

#sub {
    position: absolute;
    background-color: aqua;
    padding: 18px;
    width: 300px;
    height: 35px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    margin-left: 900px;
    margin-top: 600px;
    cursor: pointer;
    overflow: hidden;
}

#sub span {
    position: absolute;
    font-size: x-large;
    font-family: 'Gill Sans MT';
    color: white;
    margin-top: 4px;

}

#sub #leftupcorner {
    position: absolute;
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom, rgb(13, 13, 70), rgb(17, 17, 91), rgb(17, 17, 91), aqua, aqua);
    opacity: 0.7;
    transform: rotate(-8deg) translate(-80px, -55px);
}

#sub #leftdowncorner {
    position: absolute;
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom, rgb(13, 13, 70), rgb(17, 17, 91), rgb(17, 17, 91), aqua, aqua);
    opacity: 0.7;
    transform: rotate(188deg);
    margin-top: 25px;
    margin-left: -200px;
}

#sub #rightupcorner {
    position: absolute;
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom, rgb(13, 13, 70), rgb(17, 17, 91), rgb(17, 17, 91), aqua, aqua);
    opacity: 0.7;
    transform: rotate(8deg) translateY(-40px);
    margin-left: 200px;
}

#sub #rightdowncorner {
    position: absolute;
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom, rgb(8, 8, 47), rgb(17, 17, 91), rgb(17, 17, 91), aqua, aqua);
    opacity: 0.7;
    transform: rotate(-188deg);
    margin-top: 25px;
    margin-left: 200px;
}