body{
    background:linear-gradient(to bottom, rgb(174, 73, 0), rgb(42, 18, 0));
    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img{
    position: absolute;
    height: 200px;
    width: 200px;
    transform: translateY(-50px);
    animation: book 1s;
}

@keyframes book {
    0%{transform: scaleX(0) translateY(-50px);
    opacity: 0;}
    100%{transform: scaleX(1) translateY(-50px);
    opacity: 1;}
}

.cr{
    position: absolute;
    color: orangered;
    font-size: 50px;
    font-family: 'Gill Sans MT';
    margin-top: 50px;
    margin-left: 630px;
}

.cr span{
    margin-left: 20px;
}

.container{
    position: absolute;
    border-radius: 10px;
    border-style:solid ;
    border-color: orangered;
    height: 350px;
    width: 550px;
    margin-left: 500px;
    margin-top: 200px;
}

.password{
    position: absolute;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: x-large;
    margin-left: 570px;
    margin-top: 230px;
}

.pass{
    position: absolute;
    border-radius: 5px;
    font-family: 'Gill Sans MT';
    font-size: xx-large;
    width: 400px;
    padding: 15px;
    margin-top: 270px;
    margin-left: 565px;
}

.cn{
    position: absolute;
    color: white;
    font-size: x-large;
    font-family: 'Gill Sans MT';
    margin-top: 390px;
    margin-left: 570px;
}

.passw{
    position: absolute;
    border-radius: 5px;
    font-family: 'Gill Sans MT';
    font-size: xx-large;
    width: 400px;
    padding: 15px;
    margin-top: 440px;
    margin-left: 565px;
}

.create{
    position: absolute;
    color: white;
    font-family: 'Gill Sans MT';
    font-size: 30px;
    padding: 20px;
    background: orangered;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 640px;
    margin-top: 590px;
}

.create:active{
    background: yellow;
}