body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nnn{
    position: absolute;
    background: linear-gradient(to left, red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-family: 'Gill Sans MT';
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 500px;
}

.mmm{
    position: absolute;
    background: linear-gradient(to left, red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-family: 'Gill Sans MT';
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 600px;
}

